.login-page {
    background:#fff;
    border-radius: 2vw;
    display: flex;
    max-width: 640px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto 0px auto;
    /*min-height: 100%;*/
    height: 500px;
    width: 40%;
    grid-gap: 20px;
}

.stepper {
    padding-top: 20px;
}

h2.login {
    padding-top: 20px;
}

.form-class {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 10px;
}