.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 70%;
    background: #4f4848 !important;
    color: white;
}

.form-username-change {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MuiButtonBase-root {
    margin-bottom: 20px;
}