.vacancies-page {
    background:#fff;
    border-radius: 2vw;
    display: flex;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto 0 auto;
    min-height: 90%;
    height: 90%;
    grid-gap: 20px;
}