.default-link-button {
    text-decoration: none;
    color: black;

}
.AppBar {
    top:0;
}

/* Logo Styles */
.logo {
    font-family: 'monospace';
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Menu Icon Styles */
.menuIcon {
    color: white;
    font-size: 2rem;
}

/* Navigation Buttons Styles */
.navButtons, .loginButtons {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    background-color: #1565c0; /* Change the button background color */
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s;
    font-weight: 500;
}

.navButtons:hover, .loginButtons:hover {
    background-color: #0d47a1; /* Change the button background color on hover */
}

/* User Avatar Styles */
.userAvatar {
    margin-left: auto;
}

/* User Menu Styles */
/*.userMenu {*/
/*    background-color: #ffffff; !* Change the menu background color *!*/
/*}*/

/* User Menu Item Styles */
.userMenuItem {
    color: #000000; /* Change the menu item text color */
    font-weight: 500;
}