nav + .container, nav + .container-fluid {
  margin-top: 20px;
}
.container{
  padding-left: 10vw;
  padding-right: 10vw;
}
.btn-info{
  width:12vw;
}

body, html, #root {
  height: 97%;
  min-height: 97%;

}
.form-class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 10px;
}
.main-container {

  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  margin: 30px auto 0px auto;
  min-height: 100%;
  grid-gap: 20px;
}

.container-fluid {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  font-size: 40px;
  /*font-style: italic;*/
    font-weight: bold;
  text-align: center;
}
/*.MuiInputLabel-root{*/
/*  background: white;*/
/*}*/

.outlet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-gap: 10px;
  margin-top: 20px;
}