.companies-page {
    background:#fff;
    /*border-radius: 2vw;*/
    display: flex;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto 0 auto;
    min-height: 90%;
    height: 90%;
    grid-gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.error-text {
    color: #cc6d6d;
    margin-top: 3px;
    margin-bottom: 3px;
}